.color-gray {
  color: #A4ABB3 !important;
}

.color-red {
  color: #F90000 !important;
}

.color-green {
  color: #3FC120 !important;
}

.color-orange {
  color: #FF7600 !important;
}

.color-nobel {
  color: #969696 !important;
}

.color-nero {
  color: #202020 !important;
}

.color-mondo {
  color: #544F4A;
}
