<div class="b-container">
  <div class="b-inner">

    <div *ngIf="urlCheckLang==='ru'">
      <div class="wrap-text">
        <h1 class="">Возврат и обмен товара</h1>
        <p class=" ">
          Чтобы вернуть товар, обратитесь в магазин с заявлением о возврате товара,
          товарным или кассовым чеком и документом, удостоверяющим личность.
        </p>
        <p class="mb-md-10 mb-4">
          По закону «О защите прав потребителей» продавец обязан вернуть вам деньги
          в течение 10 дней со дня получения товара.
        </p>
        <h2 class="mb-3">Сроки и условия</h2>
        <h3 class="mb-3">Возврат и обмен товара надлежащего качества</h3>
        <p class="mb-md-10 mb-4">
          При возврате или обмене товара надлежащего качества должны быть сохранены: комплектация, товарный вид изделия,
          товарный вид упаковки. На товаре не должно быть следов эксплуатации.
        </p>
        <h4 class="mb-3">Если вы купили товар на сайте магазина</h4>
        <p class="mb-3">Вы можете вернуть товар:</p>
        <ul>
          <li>
            <p>
              <span class="">&mdash;</span> В течение 7 дней после получения.
            </p>
          </li>
          <li>
            <p class="">Вернуть можно любую вещь, кроме товара с индивидуальными характеристиками. Например,
              нельзя вернуть часы с гравировкой или мебель, сделанную на заказ.</p>
          </li>
          <li>
            <p><span class="">&mdash;</span>
              В течение трех месяцев после получения в случае, если при доставке продавец не предоставил вам информацию в
              письменной форме о сроках возврата.
            </p>
          </li>
        </ul>


        <p class="mb-md-10 mb-4">
          При возврате товара надлежащего качества стоимость доставки не возвращается. Если обратную доставку
          оплачивал продавец, он может потребовать оплатить ее стоимость.
        </p>
        <h4 class="mb-3">Если вы купили товар непосредственно в магазине</h4>
        <p>
          Вы можете:
        </p>
        <ul>
          <li>
            <p><span class="">&mdash;</span>
              Обменять товар надлежащего качества на аналогичный в течение 14 дней после получения.
            </p>
          </li>
          <li>
            <p><span class="">&mdash;</span>
              Если аналогичного товара нет в продаже в день обращения, вы можете потребовать возврата средств.
            </p>
          </li>
        </ul>
        <p class="mb-md-10 mb-4">
          Исключение: товары, не подлежащие обмену и возврату по законодательству РФ: парфюмерия, косметика, технически
          сложные товары (например, компьютеры или бытовая техника) и др.
        </p>

        <h3 class="mb-3">Возврат и обмен товара ненадлежащего качества</h3>
        <p>Если после покупки вы обнаружили недостатки товара, вы можете:</p>

        <ul>
          <li>
            <p><span class="">&mdash;</span>
              вернуть товар;
            </p>
          </li>
          <li>
            <p><span class="">&mdash;</span>
              обменять товар на такой же или на похожий (с перерасчетом цены);
            </p>
          </li>
          <li>
            <p><span class="">&mdash;</span>
              потребовать уменьшения цены товара или бесплатного устранения недостатков.
            </p>
          </li>
        </ul>
        <p>Вы можете предъявить эти требования:</p>

        <ul class="mb-md-10 mb-4">
          <li>
            <p><span class="">&mdash;</span>
              В течение всего гарантийного срока или срока годности, если он есть.
            </p>
          </li>
          <li>
            <p><span class="">&mdash;</span>
              В течение разумного срока (не более двух лет), если у товара нет срока годности или гарантийного срока.
            </p>
          </li>
          <li>
            <p><span class="">&mdash;</span>
              В течение 15 дней для технически сложных товаров (например, компьютеров или бытовой техники), а также после этого срока, если:
            </p>

            <ul>
              <li>
                <p><span class="">&ndash;</span>
                  у товара обнаружился существенный недостаток;</p>
              </li>
              <li>
                <p><span class="">&ndash;</span>
                  продавец нарушил сроки устранения недостатков (установленные в статье 20 закона «О защите прав потребителей»);
                </p>
              </li>
              <li>
                <p><span class="">&ndash;</span>
                  из-за необходимости устранения недостатков товар не может использоваться суммарно более 30 дней
                  в течение гарантийного срока.
                </p>
              </li>
            </ul>
          </li>
        </ul>

        <h3 class="mb-3">Экспертиза</h3>
        <p>
          Если продавец не согласен, что недостатки товара возникли по его вине или по вине производителя, — он
          обязан провести экспертизу за свой счет.
        </p>
        <p>
          Вы можете присутствовать при проведении экспертизы. Для этого рекомендуем сделать пометку в заявлении на возврат
          или написать отдельное заявление о желании присутствовать.
        </p>
        <p>
          Когда продавец уведомит вас о времени проведении экспертизы, вы должны привезти товар для установления
          причин поломки. Это позволит избежать недоразумений, которые могут возникнуть, если вы не согласны с
          заключением экспертизы.
        </p>
        <p>
          Если экспертиза покажет, что недостатки товара возникли не по вине продавца или изготовителя,
          вы будете обязаны возместить расходы на проведение экспертизы, а также связанные с ней расходы на
          хранение и транспортировку товара. Если вы не согласны с результатами экспертизы, то можете
          оспорить их в судебном порядке.
        </p>


      </div>
    </div>

    <div *ngIf="urlCheckLang==='en'">
      <div class="wrap-text">
        <h1 class="">Exchange and return of the product</h1>
        <p class=" ">
          In order to return the good, ask the shop and apply for return with cash and commodity checks and your ID card.
        </p>
        <p class="mb-md-10 mb-4">
          According to the law on Consumer Rights Protection the seller must give your money back in terms of 10 days since reciving the product.
        </p>
        <h2 class="mb-3">Time frames and terms</h2>
        <h3 class="mb-3">Exchange and return of the product of good quality </h3>
        <p class="mb-md-10 mb-4">
          During the exchange or return of the product of good quality, the following must be presented in good condition:assembly, presentation of the product, presentation of the package. The good should not contain any usage tracks.
        </p>
        <h4 class="mb-3">If you bought the product at the shop's website</h4>
        <p class="mb-3">You can return the product:</p>
        <ul>
          <li>
            <p>
              <span class="">&mdash;</span> In terms of 7 days since receiving it.
            </p>
          </li>
          <li>
            <p class="">You can return any product, except the one with individual characteristics. For example, custom-made furniture or engraved watch. </p>
          </li>
          <li>
            <p><span class="">&mdash;</span>
              During 3 months after receiving if the seller during the delivery did not inform you in written form about the time frames of return.
            </p>
          </li>
        </ul>


        <p class="mb-md-10 mb-4">
          When returning the product of good quality the money for the delivery are not returned. If the seller paid for this delivery, he or she can ask you to pay for it.
        </p>
        <h4 class="mb-3">If you bought the product at the shop</h4>
        <p>
          You can:
        </p>
        <ul>
          <li>
            <p><span class="">&mdash;</span>
              Change the product of good quality for the similar one during 14 days after getting it.
            </p>
          </li>
          <li>
            <p><span class="">&mdash;</span>
              If the similar product is not in stock at the day of your request, your can ask for money back.
            </p>
          </li>
        </ul>
        <p class="mb-md-10 mb-4">
          Exception: products that cannot be returned in accordance with Russian law: parfume,cosmetics, technologically complex goods such as electronics, computers, etc.
        </p>

        <h3 class="mb-3">Exchange and return of goods of inferior quality</h3>
        <p>If after buying you find some defects of goods, you can:</p>

        <ul>
          <li>
            <p><span class="">&mdash;</span>
              return the good;
            </p>
          </li>
          <li>
            <p><span class="">&mdash;</span>
              exchange the good for the similar or the same one (with recalculation of the price);
            </p>
          </li>
          <li>
            <p><span class="">&mdash;</span>
              ask for price reducing or free addressing of the deficiencies.
            </p>
          </li>
        </ul>
        <p>You can require to do it:</p>

        <ul class="mb-md-10 mb-4">
          <li>
            <p><span class="">&mdash;</span>
              During the whole guarantee period or expiration date, if it exists.
            </p>
          </li>
          <li>
            <p><span class="">&mdash;</span>
              During reasonable time period (not more than 2 years), if the good does not have guarantee period or expiration date.
            </p>
          </li>
          <li>
            <p><span class="">&mdash;</span>
              During 15 days for technologically complex goods (for example, computers, electric appliances) and also after 15 days, if:
            </p>

            <ul>
              <li>
                <p><span class="">&ndash;</span>
                  you have found a significant weakness;</p>
              </li>
              <li>
                <p><span class="">&ndash;</span>
                  tha seller have failed to meet deadlines of addressing the defects (stated in Chapter 20 of the Law on Consumer Rights Protection);
                  <
              </li>
              <li>
                <p><span class="">&ndash;</span>
                  because of the necessity of addressing the defects the good is out of use for more than 30 days in total during the guarantee period из-за.
                </p>
              </li>
            </ul>
          </li>
        </ul>

        <h3 class="mb-3">Expertise</h3>
        <p>
          Of the seller agrees that the defects occured because of his/her or manufacturer actions, he/she must carry out the expertise at his/her own expense.
        </p>
        <p>
          You can be present during the expertise. To do it we recommend you to make a note at the aplication for return or write a separate aplication to be present at the expertise.
        </p>
        <p>
          When the seller informs you about the time of the expertise, you have to bring the good in order to find out the reason for this or that defect. It will allow you to avoid misunderstandings and confusions which may occur, if you would disagree with the results of the expertise.
        </p>
        <p>
          If the expertise shows that the defects of the goods have not occures as the result of the seller's or manufacturer's actions, you will be required to reimburse the costs of the examination, as well as the costs for storage and transportation of goods. If you do not agree with the results of the examination, you can challenge them in a court.
        </p>


      </div>
    </div>

    <div *ngIf="urlCheckLang==='cn'">
      <div class="wrap-text">
        <h1 class="">退货和退换 t</h1>
        <p class=" ">
          为了退货要对商店提交申请书， 附上销售小票和护照.
        </p>
        <p class="mb-md-10 mb-4">
          根据消费者权益保护法， 卖主要在收货10天之内为你还钱。
        </p>
        <h2 class="mb-3">期间和条件 </h2>
        <h3 class="mb-3">退和退换规定的质量货物</h3>
        <p class="mb-md-10 mb-4">
          在退和退换规定的质量货物情况下，需要保持：配成全套,产品的商品外观和包装外观。货物不要有被使用的痕迹。
        </p>
        <h4 class="mb-3">如果您在商店的网站购买了货</h4>
        <p class="mb-3">您可以退货:</p>
        <ul>
          <li>
            <p>
              <span class="">&mdash;</span> 在收货后7 天之内。
            </p>
          </li>
          <li>
            <p class="">除了有人格特质的货物， 比如定制的家具或雕刻的手表，您可以退所有的货物。</p>
          </li>
          <li>
            <p><span class="">&mdash;</span>
              在收货3月之内如果在运输中卖主没有书面通知你也没介绍了退货期间。
            </p>
          </li>
        </ul>


        <p class="mb-md-10 mb-4">
          如果您退质量好的商品，运费不退还。 如果卖方支付返回运输，他/她会请您支付其成本。
        </p>
        <h4 class="mb-3">如果您在商店买了货</h4>
        <p>
          您可以:
        </p>
        <ul>
          <li>
            <p><span class="">&mdash;</span>
              在收货14天之内退换质量好的商品并拿到一模一样的。
            </p>
          </li>
          <li>
            <p><span class="">&mdash;</span>
              如果您申请的那一天商店的仓库没有一模一样的货，您可以请他们还钱。
            </p>
          </li>
        </ul>
        <p class="mb-md-10 mb-4">
          例外: 根据俄罗斯法律不能退换的商品：香水，美容， 技术上复杂的产品 （比如电脑，家电等等）。
        </p>

        <h3 class="mb-3">退和退换不合格品</h3>
        <p>如果买货后您发现了毛病，您可以:</p>

        <ul>
          <li>
            <p><span class="">&mdash;</span>
              退货;
            </p>
          </li>
          <li>
            <p><span class="">&mdash;</span>
              为一模一样的或类似的货物退换（包括重新计算价格）;
            </p>
          </li>
          <li>
            <p><span class="">&mdash;</span>
              要求减少价格或免费地修改它。
            </p>
          </li>
        </ul>
        <p> 您可以提出要求:</p>

        <ul class="mb-md-10 mb-4">
          <li>
            <p><span class="">&mdash;</span>
              在保证期间或有效期（如果有）。
            </p>
          </li>
          <li>
            <p><span class="">&mdash;</span>
              在合理的期间内（不超过2年）， 如果货物没有保证期间或有效期。
            </p>
          </li>
          <li>
            <p><span class="">&mdash;</span>
              为技术上复杂的产品（比如，电脑或家电）在15天之内，15天后也可以如果：
            </p>

            <ul>
              <li>
                <p><span class="">&ndash;</span>
                  货物有了根本性缺陷 ;</p>
              </li>
              <li>
                <p><span class="">&ndash;</span>
                  卖主违反了修改期间 (按照第20条消费者权益保护法)；
                </p>
              </li>
              <li>
                <p><span class="">&ndash;</span>
                  由于修改原因，货物不能在一共30天保证期间内被使用。
                </p>
              </li>
            </ul>
          </li>
        </ul>

        <h3 class="mb-3">鉴验</h3>
        <p>
          如果卖主不同意毛病是由他/她的或制造商的行为而带来的，他/她需要自费鉴验。
        </p>
        <p>
          您可以参加鉴验。 为了有机会参与鉴验，我们推荐您在退货申请单写您的请求或提交单独的参加申请单。
        </p>
        <p>
          卖主一通知您鉴验的时间时， 您为了确定毛病的原因要带来商品。这样做可让您避免会发现的误差（如果您不同意鉴验的结果）。
        </p>
        <p>
          如果鉴验中发现所有的毛病不是由卖主或制造商带来的，您需要支付鉴验的费用和有关费用（运输，保管等等）。如果不同意鉴验的结果，可以请司法解决。
        </p>


      </div>
    </div>

  </div>
</div>
