<div class="b-container">
  <div class="b-inner">
    <div class="b-top-wrap">
      <div class="row">
        <div class="col-auto it-1">
          <div class="b-title">{{'profile.myOrders' | translate}}</div>
        </div>
        <div class="col-auto it-2">
          <div class="row">
            <div class="col-auto">
              <div class="p-text">{{'profile.sort' | translate}}:</div>
            </div>
            <div class="col-auto">
              <div class="row">
                <div class="col-auto">
                  <div class="ng-select-wrap width-1">
                    <ng-select class="w-100"
                               placeholder="{{'profile.byStatus' | translate}}"
                               dropdownPosition="bottom"
                               [(ngModel)]="selectedStatus"
                               (change)="onStatusFilterChanged($event)">
                      <ng-option [value]="-1">Все</ng-option>
                      <ng-option *ngFor="let status of statuses"
                                 [value]="status.value">{{status.label | translate}}</ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="col-auto mb-0">
                  <div class="ng-select-wrap width-2">
                    <ng-select
                      class="w-100"
                      placeholder="{{'profile.byCategory' | translate}}"
                      bindLabel="nameRu"
                      bindValue="id"
                      dropdownPosition="bottom"
                      [addTag]="false"
                      [markFirst]="true"
                      [items]="categories"
                      [(ngModel)]="selectedCategory"
                      (change)="onSelectedCategoryChanged()">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <div class="text-sort"
                   (click)="sortByDate()"
                   [class.choose]="!sortDateNew">
                {{'profile.byDate' | translate}}
                <i class="bb bb-sort-amount-down"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-auto it-3">
          <div class="row">
            <div class="col-auto">
              <div class="b-select-date" [owlDateTimeTrigger]="dtRange1">
                <span *ngIf="!dateFrom || !dateTo">{{'profile.choosePeriod' | translate}}</span>
                <span *ngIf="dateFrom && dateTo">{{dateFrom}} - {{dateTo}}</span>
                <input placeholder="Date Time Range:"
                       style="visibility: hidden; width: 0;"
                       [min]="minDate"
                       [max]="maxDate"
                       [selectMode]="'range'"
                       [owlDateTimeTrigger]="dtRange1"
                       [owlDateTime]="dtRange1"
                       (dateTimeChange)="onDateChanged($event)">
                <owl-date-time
                  pickerType="calendar"
                  pickerMode="dialog"
                  firstDayOfWeek="1"
                  #dtRange1
                ></owl-date-time>
                <i class="bb bb-calendar-alt"></i>
              </div>
            </div>
            <div class="col-auto">
              <a href="#"
                 class="btn-print">
                <i class="bb bb-print-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isLoading"
         class="d-flex justify-content-center">
      <mat-spinner></mat-spinner>
    </div>

    <ng-container *ngIf="!isLoading">
      <div *ngFor="let myOrder of myOrders"
           class="b-card-order">
        <div class="b-card-order--head">
          <div class="row">
            <div class="col-auto d-flex align-items-center">
              <mat-checkbox class="b-checkbox"></mat-checkbox>
              <div class="b-card-order--title"
                   *ngIf="myOrder.category">{{myOrder.category['name' + config.locale]}}</div>
              <div *ngIf="myOrder.takenCompany" class="d-flex align-items-center">
                <div class="b-card-order--title color-orange">{{myOrder.takenCompany['name' + config.locale]}}</div>
                <button mat-raised-button
                        class="e-btn-icon">
                  <i class="bb bb-comment-alt"></i>
                </button>
              </div>
            </div>

            <div class="col-auto d-flex align-items-center">
              <div class="b-card-order--status"
                   [ngClass]="{'status-success': myOrder.status.id === '6', 'status-wait': myOrder.status.id === '2' || myOrder.status.id === '10'}">
                <span *ngIf="myOrder.status.id === '6'">{{'profile.confirmed' | translate}}</span>&nbsp;
                <span *ngIf="myOrder.status.id === '2' || myOrder.status.id === '10'">{{'profile.waiting' | translate}}</span>&nbsp;
                <i></i>
              </div>

              <div class="b-card-order--date">
                <span>{{myOrder.dateUpdated?.date | date: 'dd.MM.yyyy'}}</span>
                <span>№ {{myOrder.id}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="b-card-order--body">
          <div class="b-wrap-cards"
               [class.open]="myOrder['isCardOpened']">
            <div *ngIf="myOrder['isLoading']"
                 class="d-flex justify-content-center">
              <mat-spinner></mat-spinner>
            </div>

            <!--Свёрнутый вариант-->
            <div *ngIf="!myOrder['isCardOpened']"
                 class="table-wrap">
              <table class="mb-0">
                <tr>
                  <td *ngFor="let product of myOrder.previewProducts"
                      class="td-top-border">
                    <div class="b-image">
                      <img *ngIf="product.photos && product.photos.length > 0"
                           alt=""
                           [src]="serverUrl + product.photos[0].link">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td *ngFor="let product of myOrder.previewProducts"
                      class="td-not-border">
                    <div class="b-title mb-0">{{product && product['name' + config.locale]}}</div>
                  </td>
                </tr>
              </table>
            </div>

            <!--Развёрнутый вариант-->
            <div *ngIf="myOrder['isCardOpened'] && !myOrder['isLoading']"
                 class="table-wrap">
              <table>
                <tr>
                  <th *ngFor="let prod of myOrder.products"></th>
                </tr>
                <tr>
                  <td *ngFor="let prod of myOrder.products">
                    <div class="b-image">
                      <img *ngIf="prod.product.photos && prod.product.photos.length > 0"
                           alt=""
                           [src]="serverUrl + prod.product.photos[0].link">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td *ngFor="let prod of myOrder.products">
                    <div class="b-title">
                      {{prod.product['name' + config.locale]}}
                      <span *ngIf="prod.product.productModel"
                            class="b-title">&nbsp;{{prod.product.productModel['name' + config.locale]}}</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td *ngFor="let prod of myOrder.products">
                    <div class="b-label">{{'profile.manufacturer' | translate}}</div>
                    <div class="b-text">{{prod.product?.productManufacturerData['name' + config.locale]}}</div>
                  </td>
                </tr>
                <tr>
                  <td *ngFor="let prod of myOrder.products">
                    <div class="b-label">{{'profile.country' | translate}}</div>
                    <div class="b-text">{{prod.product.country && prod.product.country['name' + config.locale] || ''}}</div>
                  </td>
                </tr>

                <tr>
                  <td *ngFor="let prod of myOrder.products"
                      class="pb-0">
                    <div *ngFor="let prop of prod.freeProductProperties"
                         class="product-properties">
                      <div class="b-label">{{prop.categoryProperty['name' + config.locale]}}</div>
                      <div class="b-text">{{(prop['value' + config.locale] && (prop['value' + config.locale].value || prop['value' + config.locale].display)) || prop.value}}</div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td *ngFor="let prod of myOrder.products">
                    <div class="b-label">{{'profile.net' | translate}}</div>
                    <div class="b-text">{{prod.product.net}} {{prod.product.showcaseUnits.weight['name' + config.locale]}}</div>
                  </td>
                </tr>
                <tr>
                  <td *ngFor="let prod of myOrder.products">
                    <div class="b-label">{{'profile.gross' | translate}}</div>
                    <div class="b-text">{{prod.product.gross}} {{prod.product.showcaseUnits.weight['name' + config.locale]}}</div>
                  </td>
                </tr>
                <tr>
                  <td *ngFor="let prod of myOrder.products">
                    <div class="b-label">{{'profile.volume' | translate}}</div>
                    <div class="b-text">{{prod.product.volume}} {{prod.product.showcaseUnits.volume['name' + config.locale]}}</div>
                  </td>
                </tr>
                <tr>
                  <td *ngFor="let prod of myOrder.products">
                    <div class="b-label">{{'profile.clientCount' | translate}}</div>
                    <div class="b-text">{{prod.count}} {{prod.product.showcaseUnits.priceFor['name' + config.locale]}}</div>
                  </td>
                </tr>
                <tr>
                  <td *ngFor="let prod of myOrder.products">
                    <section>
                      <div class="b-text">{{prod.paymentOption['name' + config.locale]}}</div>
                    </section>
                  </td>
                </tr>
                <tr>
                  <td *ngFor="let prod of myOrder.products">
                    <div class="b-label">
                      {{'profile.clientPrice' | translate}}&nbsp;{{prod.product.price}}&nbsp;
                      {{prod.product.showcaseUnits.currency['name' + config.locale]}}
                      /{{prod.product.showcaseUnits.priceFor['name' + config.locale]}}
                    </div>
                    <div class="b-text color-orange">{{prod.product.price}}&nbsp;{{prod.product.showcaseUnits.currency['name' + config.locale]}}</div>
                  </td>
                </tr>
              </table>
            </div>

            <div class="b-wrap-cards--btn"
                 (click)="showCards(myOrder)">
              <span>{{myOrder['isCardOpened'] ? ('profile.rollUp' | translate) : ('profile.disclose' | translate)}}</span>
              <i class="bb bb-angle-double-down"></i>
            </div>
          </div>
        </div>

        <div class="b-card-order--footer">
          <div class="row">
            <div class="col-auto d-flex align-items-center">
              <div class="icon-wrap">
                <i *ngIf="myOrder.paymentTypeOptions.cashlessPaymentsOnCard"
                   class="bb bb-credit-card"></i>
                <i *ngIf="myOrder.paymentTypeOptions.cashPayments"
                   class="bb bb-money-bill"></i>
              </div>
              <div class="e-text">
                <span class="w-100 d-block"
                      *ngIf="myOrder.deliveryAddress">
                  {{myOrder.deliveryAddress.locality['name' + config.locale]}},&nbsp;
                  {{myOrder.deliveryAddress.locality?.region['name' + config.locale]}},&nbsp;
                  {{myOrder.deliveryAddress.locality?.region?.country['name' + config.locale]}}
                </span>
                <span class="w-100 d-block"
                      *ngIf="myOrder.deliveryAddress">{{myOrder.deliveryAddress.address}}</span>
              </div>
            </div>
            <!-- вариант две кнопки -->
            <div class="col-auto">
              <div class="row">
                <div class="col-auto text-right">
                  <div class="e-text">{{'profile.count' | translate}}
                    . {{myOrder.totalCount}} {{myOrder.countMe['name' + config.locale]}}</div>
                  <div class="b-card-order--title ml-0">{{myOrder.totalPrice}} {{myOrder.currency['name' + config.locale]}}</div>
                </div>

                <div class="col-auto">
                  <app-acquiring-payform [statusId]="myOrder.status.id"
                                         [data]="myOrder['payformData']"></app-acquiring-payform>
                </div>

                <div *ngIf="myOrder.status.id !== '6'"
                     class="col-auto">
                  <button class="btn-del"
                          mat-raised-button
                          (click)="deleteOrder(myOrder)">
                    <i class="bb bb-trash-alt"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
